.home-page-main-container {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans';
}

.home-page-container {
  width: 90%;
  margin: auto;
}

.carousel-container {
  width: 100vw;
}

.carousel-img {
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .carousel-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .carousel-img {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .items-heading-sorting-container {
    display: flex;
    justify-content: space-between;
  }
}

.home-item-heading {
  color: #183b56;
  font-weight: 700;
  font-size: 24px;
}

.home-item-greet {
  color: #64748b;
  font-size: 12px;
  font-weight: 500;
}

.sorting-container {
  display: flex;
  align-items: center;
  width: 180px;
  cursor: pointer;
}

.horizontal-line {
  display: none;
}

@media screen and (min-width: 768px) {
  .sorting-container {
    align-self: flex-end;
  }
  .horizontal-line {
    display: block;
  }
}

.sort-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.select-ele {
  border: none;
  font-size: 16px;
  outline: none;
  width: 100px;
  padding-left: 10px;
  appearance: none;
  width: 70px;
}

.sort-opt {
  color: #475569;
  font-weight: 500;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding: 8px;
}

.restaurants-lists-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 760px) {
  .restaurants-lists-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.arrow-btn {
  border: 1px solid #334155;
  color: #334155;
  align-self: center;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.arrow-icon {
  height: 12px;
  width: 12px;
  text-align: center;
  margin-top: 2px;
}

.pagination-values {
  color: #334155;
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
